* body{
    margin: 0;
    padding: 0;
    background-image: url("../images/webb-dark.png");
    background-attachment: fixed;
    width: 100%;
}

.header-container{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(207, 65, 65);
    border: 0;
    border-bottom-width: 8px;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
}

.header{
    display: flex;
    margin: 0 auto;
    align-items: center;
    letter-spacing: 4px;
}

.container{
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    height: auto;
    background-color: rgb(133, 127, 127);
    border-width: 12px;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    text-align: center;
}

.trivia-header{
    display: inline-block;
    color: rgb(29, 28, 28);
    letter-spacing: 4px;
    padding: 30px;
}

#start-button{
    display: block;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 40px;
    width: 200px;
    height: 80px;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 6px;
    background-color: black;
    color: white;
}

#timer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgb(29, 28, 28);
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: bolder;
}

#questions{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: rgb(29, 28, 28);
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: bolder;
}

.yo{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: black;
    font-size: 60px;
    color: white;
    width: auto;
    height: auto;
}

#buttons{
    margin-top: 40px;
}

#buttonstwo{
    margin-top: 40px;
}

#incorrect{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: rgb(29, 28, 28);
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: bolder;
}

#unanswered{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: rgb(29, 28, 28);
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: bolder;
}
